/* @type */
* {
    box-sizing: border-box;
}
.container {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: stretch;
padding: 0px;

position: relative;
/* width: 100%; */
height: 100vh;
background: #FFFFFF;
}

.tbkg {
    display: flex;
flex-direction: row;
/* padding: 0px 16px; */
width: 100%;
/* Inside Auto Layout */
flex: 1 1 25px;
order: 0;
/* align-self: center; */
/* margin: 0px 88px; */
/* align-items: flex-start; */
}

.tbkg svg {
    /* Intersect */


/* background: #4FC143; */

/* Inside Auto Layout */
flex: 0 0 7.8em;
order: 0;
align-self: flex-start;
margin: 0px 2em;
}

.logo { 
    display: flex;
flex-direction: column;
padding: 0px;
justify-content: space-between;
align-items: center;
flex: 1 1 177px;
order: 1;
/* margin: 0px 88px; */
}
.logo img {
    flex: none;
order: 0;
}

.logo p.time {
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;
flex: 0 0 auto;
order: 1;
margin: -0.4em 15px 0px;
}
.logo p.gdp {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: #35B02E;
/* Inside Auto Layout */
flex: none;
order: 2;
align-self: center;
/* margin: 0px 15px; */
}


.bkg {
    /* width: 100%; */
    /* position: relative; */
    flex: 1 1 435px;
    display: flex;
    flex-direction: column;
    order: 2;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    /* margin: 0px 88px; */
    background-image: url("../../assets/bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkg button {
    /* Button */

/* Auto Layout */
display: flex;
flex-direction: row;
padding: 0px;

background: #FFFFFF;
border: 1px solid rgba(24, 255, 0, 0.87);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 11px;
z-index: 2;
padding: 10px 25px;
}
.bkg button span {

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

color: #35B02E;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
}